body {
  background-color: rgb(14, 27, 35, 100%);
}

.app-name {
  font-family: Lobster, cursive;
  font-size: 2.5rem;
  color: #fff;
  margin-left: 1rem;
}

.nav-bar {
  background-color: rgb(40, 60, 70, 100%);
  height: 5rem;
}

.welcome {
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.wht-txt {
  color: #fff;
}

.instruct {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.user-input {
  height: 2.5rem;
  border-style: none;
  border-radius: 1rem;
  font-family: Helvetica, sans-serif;
  color: grey;
  padding-left: 0.8rem;
  font-weight: 500;
  outline: none;
}

.user-input:focus::placeholder {
  color: transparent;
}

.next {
  font-family: Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  color: #fff;
  height: 2.5rem;
  border-style: none;
  border-radius: 1rem;
  text-decoration: none;
}

.wrong {
  color: rgb(235, 142, 142, 100%);
}

.correct {
  color: rgb(135, 239, 118, 100%);
}

.grn {
  background-color: rgb(2, 175, 160, 100%);
}

.select {
  background-color: rgb(40, 60, 70, 100%);
  height: 12rem;
  padding: 0 2.5rem;
  border-radius: 1rem;
}

.selection {
  font-family: Poppins, sans-serif;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.location {
  background-color: rgb(40, 60, 70, 100%);
  height: 2.1rem;
}

.text-box {
  padding-top: 0.2rem;
  width: 350px;
  height: 2.75rem;
  background-color: #fff;
  border-radius: 5rem;
}

.message-bar {
  margin-left: 0.5rem;
  font-family: Helvetica, sans-serif;
  width: 19rem;
  height: 2.5rem;
  font-size: 1rem;
  border-style: none;
  border-radius: 5rem;
  outline: none;
}

.send {
  width: 1.8rem;
  height: 1.875rem;
  border-style: none;
  border-radius: 50%;
  background-color: rgb(2, 175, 160, 100%);
  margin-right: 0.3rem;
}

.message {
  font-size: 1rem;
}

.scroll-bar {
  height: 60vh;
  min-height: 63vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  color: rgb(115, 134, 143, 100%);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
