body {
  background-color: rgb(14, 27, 35, 100%);
}

.app-name {
  font-family: Lobster, cursive;
  font-size: 40px;
  color: #fff;
  margin-left: 15px;
}

.nav-bar {
  background-color: rgb(40, 60, 70, 100%);
  height: 80px;
}

.welcome {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.wht-txt {
  color: #fff;
}

.instruct {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.user-input {
  width: 300px;
  height: 40px;
  border-style: none;
  border-radius: 1rem;
  font-family: Helvetica, sans-serif;
  color: grey;
  padding-left: 10px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.user-input:focus::placeholder {
  color: transparent;
}

.next {
  font-family: Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  width: 120px;
  height: 40px;
  border-style: none;
  border-radius: 1rem;
  text-decoration: none;
  padding-top: 1px;
}

.wrong {
  color: rgb(235, 142, 142, 100%);
}

.correct {
  color: rgb(135, 239, 118, 100%);
}

.grn {
  background-color: rgb(2, 175, 160, 100%);
}

.select {
  background-color: rgb(40, 60, 70, 100%);
  height: 200px;
  width: 300px;
  border-radius: 1rem;
}

.selection {
  width: 225px;
  font-family: Poppins, sans-serif;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.location {
  background-color: rgb(40, 60, 70, 100%);
  width: 360px;
  height: 35px;

  /* margin-top: 20%; */
  margin-left: 15px;
}

.exit {
  font-size: 15px;
  text-align: end;
  margin-right: 15px;
  cursor: pointer;
}

.chat-box {
  background-color: rgb(40, 60, 70, 100%);
  width: 390px;
  height: 600px;
}

.message-area {
  background-color: rgb(40, 60, 70, 100%);
  margin-top: 15px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-box {
  padding-top: 2px;
  width: 380px;
  height: 44px;
  background-color: #fff;
  border-radius: 5rem;
}

.message-bar {
  margin-left: 5px;
  font-family: Helvetica, sans-serif;
  width: 335px;
  height: 40px;
  font-size: 14px;
  border-style: none;
  border-radius: 5rem;
  outline: none;
  cursor: pointer;
}

.send {
  width: 30px;
  height: 30px;
  border-style: none;
  border-radius: 50%;
  background-color: rgb(2, 175, 160, 100%);
  margin-right: 3px;
}

.send-arrow {
  color: #fff;
  font-size: 20px;
}

.message {
  font-size: 14px;
}

.welcome-to-chat {
  font-size: 20px;
  font-weight: 600;
}

.bolded {
  font-size: 15px;
  font-weight: 600;
}

@media screen and (min-width: 500px) {
  .welcome {
    font-family: Helvetica, sans-serif;
    font-size: 33px;
    font-weight: 600;
  }

  .instruct {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .user-input {
    width: 350px;
    height: 40px;
    border-style: none;
    border-radius: 1rem;
    font-family: Helvetica, sans-serif;
    color: grey;
    padding-left: 10px;
    font-weight: 500;
    outline: none;
  }

  .next {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    width: 120px;
    height: 50px;
    border-style: none;
    border-radius: 1rem;
  }

  .select {
    background-color: rgb(40, 60, 70, 100%);
    height: 200px;
    width: 400px;
  }
}
